#greycol {
    color: grey;

}

.yellow {
    color: yellow;

}

div~p {
    color: green;

}

h3:nth-child(1) {
    color: pink;
}

div+div>p {
    color: red;
    
}

li>p:hover:nth-child(1n) {
    color: rgb(55, 0, 255);
    
}

li>p:hover:nth-child(2n) {
    color: rgb(0, 255, 8);
    
}
li>p:hover:nth-child(3n) {
    color: yellow;
        
}
li>p:hover:nth-child(4n) {
    color: rgb(128, 0, 0);
            
}
li>p:hover:nth-child(5n) {
    color: rgb(47, 255, 0);
                
}

li>p:hover:nth-child(6n) {
    color: rgb(111, 139, 0);
                    
}

li>p:hover:nth-child(7n) {
    color: rgb(55, 0, 128);
                    
}